.filter-operator-wrapper {
    width: 100%;
    margin: 4px 0;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--vysta-bg-secondary);
    border-radius: 8px;
    padding: 16px;
}

.filter-group-footer {
    display: flex;
}

.add-filter-button {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    border: 1px solid var(--vysta-border-color);
    background: var(--vysta-bg-primary);
    color: var(--vysta-text-secondary);
    background: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
} 