.mantine-Combobox-dropdown {
	padding: 4px;
	background: var(--vysta-bg-white);
	border: 1px solid var(--vysta-border-color);
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mantine-Combobox-option {
	border: 1px solid var(--vysta-border-color);
	border-radius: 4px;
	font-size: 14px;
	font-weight: 400;
	padding: 8px 12px;
	margin: 2px 0;
	color: var(--vysta-text-primary);
	background: var(--vysta-bg-white);
}

.mantine-Combobox-option[data-combobox-active='true'] {
	background: var(--vysta-bg-hover);
}

.mantine-Combobox-option[data-combobox-active='true'] > div {
	color: var(--vysta-text-primary);
}

.mantine-Combobox-option > div > span {
	max-width: none;
}

.mantine-Pill-root {
	border-radius: 4px;
	background-color: var(--vysta-bg-hover);
	color: var(--vysta-text-primary);
	padding: 2px 8px;
}

.mantine-Combobox-search {
	margin: 4px;
	background-color: var(--vysta-bg-white);
	width: calc(100% - 8px);
	padding: 8px 12px;
	border: 1px solid var(--vysta-border-color) !important;
	border-radius: 4px;
	font-size: 14px;
}

.mantine-Combobox-wrapper {
	background-color: var(--vysta-bg-white);
}

.multiselect-custom {
	.mantine-PillsInput-input {
		padding: 4px;
	}
	
	.mantine-PillsInput-wrapper {
		background-color: var(--vysta-bg-white);
		border: 1px solid var(--vysta-border-color);
		border-radius: 6px;
	}
	
	.mantine-Combobox-groupLabel {
		color: var(--vysta-text-secondary);
		padding: 4px 8px;
		font-size: 12px;
	
		&::after {
			background-color: var(--vysta-border-color);
		}
	}
	
	.mantine-PillsInputField-field {
		display: none;
	}
}
