@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.loader {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 0.5s;
}

.input {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.option {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.errorInput {
    border-color: #862e2c;
}

.errorInput:focus {
    border-color: #862e2c;
}

.input[data-expanded] {
    border-color: var(--mantine-color-blue-filled);
    box-shadow: 0 0 0 1px var(--mantine-color-blue-filled);
}

.searchInput {
    border-color: transparent;
}

.searchInput:focus {
    border-color: var(--mantine-color-blue-filled);
    box-shadow: 0 0 0 1px var(--mantine-color-blue-filled);
}

.errorDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #862e2c;
    cursor: pointer;
} 